* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100vh;
    background: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-transform: uppercase;
    font-family: monospace;
    font-size: 100px;
    color: #fff;
    text-shadow: 0 0 15px #000;
}